<!doctype html>
<html lang="en">
<head>
	<title>Product Selection</title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet" media="screen" />
</head>
<body class="container">
	<div id="header" class="jumbotron">
		<h1>Your order has been confirmed!</h1>
	</div>
</body>